.TodoList{
    max-width: 420px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
}
.TodoListUl{
    padding-left: 0;
}